.list-anime {

    grid-column: col-start 2 / col-end 9;

    margin: 4rem 0;

    display: grid;
    grid-template-columns: repeat(3, minmax(37rem, 46rem));
    grid-template-rows: 50px repeat(auto-fill, 290px);
    grid-column-gap: 3rem;
    grid-row-gap: 4rem;


    @media only screen and (max-width:$bp-largrest0){
        grid-template-columns: repeat(2,1fr);
      }
      @media only screen and (max-width:$bp-large){
        grid-template-columns:1fr;
      }
      @media only screen and (max-width:$bp-medium){
        grid-column: col-start 1 / col-end 10;
      }
      @media only screen and (max-width:$bp-small){
        grid-column: full-end / full-start;
        margin:0 2rem;
      }
  
}


.options{
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}